bin
.*sw*
php-server-bundle
angular-client/
php-server/public/3rdpartylicenses.txt
php-server/public/favicon.ico
php-server/public/index.html
php-server/public/main.*
php-server/public/polyfills.*
php-server/public/runtime.*
php-server/public/styles.*
php-server/public/assets
generated

