<form [formGroup]="welcomeForm" (ngSubmit)="onSubmit()">
	<div>
		<label for="player">
			Player name
		</label>
		<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let option of options" [value]="option">
				{{option}}
			</mat-option>
		</mat-autocomplete>
		<input data-cy="player" id="player" type="text" formControlName="player" matInput [matAutocomplete]="auto">
	</div>

	<div>
		<label for="room">
			Room name
		</label>
		<input data-cy="room" id="room" type="text" formControlName="room">
	</div>
	<button data-cy="submit" class="button" type="submit" >Validate</button>
</form>
