<h2>Last events</h2>

<div>Welcome to room <span data-cy="room">{{this.room}}</span></div>

<a [title]="'start page'" [routerLink]="'/'">Start page</a>

<app-roll-dice [room]="room" (needToReloadEvenNotification)="getEvents()"></app-roll-dice>

<table mat-table [dataSource]="this.events" data-cy="messages">
	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef>Date</th>
		<td mat-cell *matCellDef="let event"> {{event.timestamp}}</td>
	</ng-container>
	<ng-container matColumnDef="message">
		<th mat-header-cell *matHeaderCellDef>Message</th>
		<td mat-cell *matCellDef="let event"> {{event.text}}</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="['date', 'message']"></tr>
	<tr mat-row *matRowDef="let row; columns: ['date', 'message']"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page"></mat-paginator>
