<h2>Last events</h2>

<div>Welcome to room <span data-cy="room">{{this.room}}</span></div>

<a [title]="'start page'" [routerLink]="'/'">Start page</a>

<app-roll-dice [room]="room" (needToReloadEvenNotification)="getEvents()"></app-roll-dice>

<ul data-cy="messages">
	<li [@newMessage]="displayedNewMessages ? 'open': 'closed'" *ngFor="let event of this.newEvents">
		<span>{{event.timestamp}}: {{event.text}}</span>
	</li>
	<li *ngFor="let event of this.events">
		<span>{{event.timestamp}}: {{event.text}}</span>
	</li>
</ul>
